.root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.label {
  font-size: .75rem;
  letter-spacing: 1px;
}

.backtrace {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.cell {
  display: flex;
  align-items: center;
  color: rgba(var(--color-main-val), .75);
  outline: none;
  padding: 0 .5em;
  line-height: 2.25em;
  font-size: 1em;
  font-weight: 600;
  border: 1px solid rgba(var(--color-main-val), .3);
}