.root {
  height: 100%;
  width: 100%;
  display: flex;
  min-height: 1.25rem;
  gap: .5rem;
}

.cell {
  display: flex;
  align-items: center;
  color: var(--main-color);
  outline: none;
  padding: 0 .5em;
  height: 2.5em;
  width: 2.5em;
  font-size: 1em;
  font-weight: 600;
  border: 1px solid rgba(var(--color-main-val), .3);
}