.root {
  min-width: 768px;
  max-width: 1024px;
}

.dotted {
  padding: .5rem;
  border: 1px dotted rgba(var(--color-main-val), .15);
}

.field {
  position: relative;
  display: grid;
  height: fit-content;
  width: fit-content;
  background-color: rgba(var(--color-main-val), .05);
}

.backtrace {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.footer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}