.main {
  display: flex;
  flex-direction: column;
}

.field {
  position: relative;
  display: grid;
  height: fit-content;
  width: fit-content;
}

.footer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}