.root {
  width: 100%;
  display: flex;
  gap: 2em;
  padding: 0 .5rem;
}

.control {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.25rem;
  background-color: unset;
  color: var(--color-white);
  border: 0;
  opacity: .5;
  transition: 200ms;

  &:hover, &:focus, &:active {
    text-decoration: underline;
    text-underline-offset: .25rem;
    opacity: .9;
    cursor: pointer;

    &:before, &:after {
      visibility: visible;
    }
  }


}