.root {
  position: relative;
  display: grid;
  grid: minmax(1rem, auto) 1fr auto / 1fr;
  padding: 3rem 1.5rem 2rem 3rem;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.content {
  display: flex;
}

.main, .aside {
  flex-grow: 1;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  .root {
    padding: 1.25rem .5rem;
  }
}