.root {
  position: relative;
}

.bar {
  height: 100%;
  animation-timing-function: linear;
  background-color: aquamarine;
}

.loading {
  left: 0;
  animation-name: fillNormal;
}

.loadingReverse {
  right: 0;
  animation-name: fillReverse;
}

@keyframes fillNormal {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes fillReverse {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}