.root {
  color: red;
  cursor: pointer;
  outline: none;

  &:hover, &:focus, &:active {
    font-weight: 600;
    text-decoration: underline;
  }
}

.disabled {
  pointer-events: none;
  color: rgba(var(--color-white-val), .5);
}

.highlighted {
  color: rgba(var(--color-white-val), .75);
}