.root {
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: .5rem;
}

.loading {
  position: absolute;
  opacity: .15;
  height: 100%;
  top: 0;
  left: 0;
}