.inner, .mid, .outer {
  opacity: .3;
  transition: all .3s;
  transform-box: fill-box;
  transform-origin: center;
}

.mid {
  opacity: .15;
}

.shouldRotate {
  .inner {
    animation: rotationTwo calc(var(--logo-rotation-speed) * 1.5) infinite linear reverse;
  }

  .mid {
    animation: rotation var(--logo-rotation-speed) infinite linear alternate;
  }

  .outer {
    animation: rotationThree calc(var(--logo-rotation-speed) * 2) infinite linear alternate-reverse;
  }
}

.root:hover {

  .shouldRotate {
    .inner {
      opacity: .4;
      animation: rotation calc(var(--logo-rotation-speed) * 1.8) .4s infinite linear;
    }

    .mid {
      opacity: .25;
      animation: rotation calc(var(--logo-rotation-speed) * 1.2) .4s infinite alternate-reverse;
    }

    .outer {
      opacity: .4;
      animation: rotation calc(var(--logo-rotation-speed) * 2.2) .4s infinite linear;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotationTwo {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@keyframes rotationThree {
  0% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(180deg);
  }
  90% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@keyframes zoomInOut {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(110%);
  }
  95% {
    transform: scale(95%);
  }
  100% {
    transform: scale(100%);
  }
}